@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.hero {
  background: url("../src/assets/HeroImg.svg") center/cover no-repeat;
}

.driveAndEarnBg {
  background: url("../src/assets/sectionBackground.svg") center;
  height: 17rem;
  width: 100%;
}
.log {
  background: #fdd206;
  height: 100vh;
}
.road {
  position: relative;
  width: 600px;
  height: 150px;
  background: #333;
  border-radius: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  transform-style: preserve-3d;
  perspective: 500px;
}

.road::before {
  content: "";
  font-weight: 600;
  color: #fcfbfb;
  position: absolute;
  font-size: 12px;
  letter-spacing: 0.05em;
  width: 100%;
  height: 3px;
  background: linear-gradient(
    90deg,
    #fff,
    #fff 50%,
    transparent 50%,
    transparent 100%
  );
  background-size: 20px;
  animation: animate_road 0.25s linear infinite;
}

@keyframes animate_road {
  0% {
    background-position: 50px 0;
  }
  100% {
    background-position: 0 0;
  }
}

.taxi {
  position: absolute;
  width: 150px;
  left: 50px;
  height: 60px;
  background: #f4b603;
  border-radius: 10px;
  box-shadow: -10px 10px rgba(0, 0, 0, 0.25);
  transform-style: preserve-3d;
  perspective: 800px;
  animation: animate_taxi 6s linear infinite;
}

@keyframes animate_taxi {
  0% {
    transform: translateX(300px) translateY(40px);
  }
  15% {
    transform: translateX(300px) translateY(40px);
  }
  25% {
    transform: translateX(300px) translateY(40px);
  }
  50% {
    transform: translateX(310px) translateY(-40px);
  }
  75% {
    transform: translateX(330px) translateY(-40px);
  }
  85% {
    transform: translateX(320px) translateY(-20px);
  }
  100% {
    transform: translateX(300px) translateY(40px);
  }
}

.taxi::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 2px;
  width: 5px;
  height: 10px;
  border-radius: 2px;
  background: #fc3c25;
  box-shadow: 0 42px #fc3c25;
}

.taxi::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 2px;
  width: 6px;
  height: 11px;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 44px #fff;
}

.taxi span {
  position: absolute;
  inset: 5px 10px;
  background: #fdd206;
  border-radius: 10px;
  /* overflow: hidden; */
}

.taxi span::before {
  content: "Kabbs Universal ";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  text-align: center;
  background: #fff;
  padding: 2px 1px;
  font-size: 8px;
  font-weight: 1000;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border-radius: 2px;
  box-shadow: 0 0 0 1px #0005;
  z-index: 10;
}

.taxi span b {
  position: absolute;
  inset: 0 30px;
  background: #111;
  border-radius: 10px;
}

.taxi span b::before {
  content: "";
  position: absolute;
  inset: 6px 25px;
  background: #fdd206;
  border-radius: 5px;
}

.taxi span b::after {
  content: "";
  position: absolute;
  inset: 6px 25px;
  background: #fdd206;
  border-radius: 5px;
}

.taxi .light_beam {
  position: absolute;
  top: 4px;
  right: 1px;
  width: 10px;
  height: 70px;
  background: #0002;
  border-radius: 15px;
  transform-style: preserve-3d;
}

.taxi .light_beam::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 150px;
  height: 11px;
  background: linear-gradient(90deg, #fff6, transparent);
  transform-origin: left;
  transform: perspective(500px) rotateY("-50deg");
}

.taxi .light_beam::after {
  content: "";
  position: absolute;
  bottom: 14px;
  left: 0;
  width: 150px;
  height: 11px;
  background: linear-gradient(90deg, #fff6, transparent);
  transform-origin: left;
  transform: perspective(500px) rotateY("-50deg");
}

.taxii {
  position: absolute;
  width: 150px;
  left: 50px;
  height: 60px;
  background: #f4b603;
  border-radius: 10px;
  box-shadow: -10px 10px rgba(0, 0, 0, 0.25);
  transform-style: preserve-3d;
  perspective: 800px;
  animation: animate_taxii 5s linear infinite;
}

@keyframes animate_taxii {
  0% {
    transform: translateX(10px) translateY(-40px);
  }
  15% {
    transform: translateX(10px) translateY(-20px);
  }
  25% {
    transform: translateX(10px) translateY(-10px);
  }
  50% {
    transform: translateX(11px) translateY(40px);
  }
  75% {
    transform: translateX(13px) translateY(40px);
  }
  85% {
    transform: translateX(11px) translateY(20px);
  }
  100% {
    transform: translateX(10px) translateY(-40px);
  }
}

.taxii::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 2px;
  width: 5px;
  height: 10px;
  border-radius: 2px;
  background: #fc3c25;
  box-shadow: 0 42px #fc3c25;
}

.taxii::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 2px;
  width: 6px;
  height: 11px;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 44px #fff;
}

.taxii span {
  position: absolute;
  inset: 5px 10px;
  background: #fdd206;
  border-radius: 10px;
  /* overflow: hidden; */
}

.taxii span::before {
  content: "Kabbs Universal ";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  text-align: center;
  background: #fff;
  padding: 2px 1px;
  font-size: 8px;
  font-weight: 1000;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border-radius: 2px;
  box-shadow: 0 0 0 1px #0005;
  z-index: 10;
}

.taxii span b {
  position: absolute;
  inset: 0 30px;
  background: #111;
  border-radius: 10px;
}

.taxii span b::before {
  content: "";
  position: absolute;
  inset: 6px 25px;
  background: #fdd206;
  border-radius: 5px;
}

.taxii span b::after {
  content: "";
  position: absolute;
  inset: 6px 25px;
  background: #fdd206;
  border-radius: 5px;
}

.taxii .light_beamm {
  position: absolute;
  top: 4px;
  right: 1px;
  width: 10px;
  height: 70px;
  background: #0002;
  border-radius: 15px;
  transform-style: preserve-3d;
}

.taxii .light_beamm::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 150px;
  height: 11px;
  background: linear-gradient(90deg, #fff6, transparent);
  transform-origin: left;
  transform: perspective(500px) rotateY("-50deg");
}

.taxii .light_beamm::after {
  content: "";
  position: absolute;
  bottom: 14px;
  left: 0;
  width: 150px;
  height: 11px;
  background: linear-gradient(90deg, #fff6, transparent);
  transform-origin: left;
  transform: perspective(500px) rotateY("-50deg");
}
